<footer>
    <div class="container">
        <div class="row">
            <!-- C?t 1 -->
            <div class="col-md-4 footer-section">
                <h5>V? Chúng Tôi</h5>
                <p>MEODIGIAY chuyên cung c?p giày ch?t l??ng, th?i trang và phong cách.</p>
            </div>
            <!-- C?t 2 -->
            <div class="col-md-4 footer-section">
                <h5>Liên K?t Nhanh</h5>
                <ul class="footer-links">
                    <li><a href="@Url.Action("Index","Home")">Trang Ch?</a></li>
                    <li><a href="@Url.Action("Products","Home")">S?n Ph?m</a></li>
                    <li><a href="@Url.Action("About","Home")">Gi?i Thi?u</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Liên H?</a></li>
                </ul>
            </div>
            <!-- C?t 3 -->
            <div class="col-md-4 footer-section">
                <h5>K?t N?i V?i Chúng Tôi</h5>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <hr class="bg-light" />
        <p class="text-center mb-0">© 2025 MEODIGIAY. All rights reserved.</p>
    </div>
</footer>
