@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    @* Copy phần slide từ HTML bạn đã gửi *@
</div>

<!-- Logo thương hiệu -->
<div class="navbar navbar-light mb-5 p-3" style="background-color: white;">
    @* Copy phần logo *@
</div>

<!-- Sản phẩm nổi bật -->
<section class="featured-products py-5">
    @* Copy phần sản phẩm nổi bật *@
</section>

<!-- Ưu đãi nổi bật -->
<section class="promotions py-5">
    @* Copy phần ưu đãi *@
</section>

<!-- Phương thức thanh toán -->
<section class="part part-a text-center">
    @* Copy phần thanh toán *@
</section>

<!-- CTA cuối trang -->
<section class="part part-b text-center">
    @* Copy phần CTA cuối *@
</section>
